body{
    background: linear-gradient(rgb(0, 191, 255),rgb(255, 4, 4));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    margin-top: auto;
    border-left-style: solid;
    border-right-style: solid;
    border-right-color: red;
    border-top-style: outset;
    border-bottom-style: outset;
    float: right;
    
}